@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: landscape;
  }
}

/* Styles for printing */
@media print {
  .sidebar,
  .navbar {
    display: none; /* Hide this element when printing */
  }

  table {
    page-break-before: always;
  }

  .admin-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .filter-container,
  .customer-list-header,
  .status-row,
  .status-col,
  .action-row,
  .action-col {
    display: none !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.country-code > div {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.phone-number > div {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
